
<input type="file" (change)="onFileSelected($event)" />
<button class="btn" (click)="uploadImage()">upload</button>

<div *ngIf="uploadProgress > 0 && uploadProgress < 100">
  Uploading: {{ uploadProgress }}%
</div>

<div *ngIf="uploadedUrl">
  <p>Last uploaded:</p>
  <img [src]="uploadedUrl" alt="Uploaded Image" style="max-width: 200px;" />
</div>

<hr />

<h3>All Uploaded Images:</h3>
{{ images.length > 0 ? images.length + ' images found' : 'No images uploaded yet.' }}

<div class="image-item" *ngFor="let image of images; let i = index">
  {{image}}
  <img [src]="image" lazy [alt]="'Image ' + (i + 1)" style="max-width: 200px; margin: 10px;" />
</div>
