    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">

      <div class="offcanvas-header justify-content-between">
        <h4 class="fw-normal text-uppercase fs-6">Menu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
    
      <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex flex-column gap-md-3 mb-0">

        <!-- Loop through menu items -->
        <ng-container *ngFor="let item of menuItems">
          
          <!-- Single link item (no submenu) -->
          <li class="nav-item border-dashed" 
              [class.active]="item.active" 
              *ngIf="!item.submenu">
            <a [routerLink]="item.route" 
              class="nav-link d-flex align-items-center gap-3 text-dark p-2"
              routerLinkActive="active">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use [attr.xlink:href]="item.icon"></use>
              </svg>
              <span>{{ item.label }}</span>
            </a>
          </li>

          <!-- Dropdown item (with submenu) -->
          <li class="nav-item border-dashed" *ngIf="item.submenu">
            <button class="btn btn-toggle dropdown-toggle position-relative w-100 d-flex justify-content-between align-items-center text-dark p-2"
                    data-bs-toggle="collapse" 
                    [attr.data-bs-target]="'#' + item.id + '-collapse'"
                    aria-expanded="false">
              <div class="d-flex gap-3 align-items-center">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use [attr.xlink:href]="item.icon"></use>
                </svg>
                <span>{{ item.label }}</span>
              </div>
              <i class="fas fa-chevron-down ms-auto"></i>
            </button>

            <!-- Collapsible submenu -->
            <div class="collapse" [id]="item.id + '-collapse'">
              <ul class="btn-toggle-nav list-unstyled fw-normal ps-5 pb-1">
                <li class="border-bottom py-2" *ngFor="let sub of item.submenu">
                  <a [routerLink]="sub.route" 
                    [queryParams]="sub.queryParams || {}"
                    class="dropdown-item">
                    {{ sub.label }}
                  </a>
                </li>
              </ul>
            </div>
          </li>

        </ng-container>
      </ul>
      
      </div>

    </div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
