// src/app/app.scss
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-v30-latin-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-v30-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.ramadan-topbar {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: absolute;  /* if you want it to stick on top */
    z-index: 22;

}
@media screen and (max-width: 600px) {
    .ramadan-topbar img {
        height: 17vh;  /* smaller on mobile */
        max-width: 100vw;
    }
  
}
.ramadan-topbar img {
    max-height: 90vh;  /* keeps it from being too tall */
    width: auto;
    text-align: right; 
}
