.text-warning{
    color: #ff6f0f !important;
}
.btn-outline-warning{
    color: #ff6f0f !important;
}
.btn-outline-warning:hover{
    background-color: #ff6f0f !important;
    color: white !important;
    border-color: #ff6f0f !important;
}
.btn{
    background-color: #ff6f0f !important;;
}